@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Work+Sans:wght@400;700&display=swap');
/*CSS Imported*/
@import './components/button.css';
@import './components/footer.css';
@import './components/header.css';
@import './components/main-body.css';
@import './components/nav-bar.css';

root {
    --main-bg: #74c69d;
    --secondary-by: #fff;
    --btn-background-1: #fff;
    --btn-background-2: #000;
    --first-font-color: #fff;
    --second-font-color: #000;
    --third-font-color: #74c69d;
    --main-font: (font-family: 'Work Sans', sans-serif);
    --secondary-font: (font-family: 'Crimson Text', serif);
}

html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: #74c69d;
    padding: 0 20px;
    text-align: left;
    margin-bottom: 30px;
}

h2 {
    font-family: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

h1 {
    font-family: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}

p {
    text-align: center;
    font-family: #fff;
    font-weight: 400;
}

/* Responsive */


    .main .main-title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .main .brands {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    footer {
        padding: 50px;
        display: block;
        line-height: 5px;
        text-align: center;
    }
    footer .fa-icons {
        float: left;
    }

    .fa-icons .fa {
        line-height: 5px;
        margin-left: 25px;
    }

    footer .footer-description {
        float: right;
    }
}
