footer {
    width: 100%;
    padding: 30px;
    background-color: #74c69d;
    color: #fff;
}

footer .fa-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 60px 20px;
}

footer .footer-description {
    text-align: center;
    font-size: 15px;
    padding: 0 25px 30px;
}

@media (min-width: 768px) {
    footer {
        display: inline-block;
    }
    .footer-description {
        margin-top: 30px;
        float: right;
    }

    .fa-icons {
        display: block;
        float: left;
    }
    .fa {
        margin-left: 20px;
    }
}
