.body-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.body-description .section-title {
    color: #74c69d;
    margin-bottom: 10px;
}

.body-description > .main-title {
    font-size: 23px;
    margin-bottom: 10px;
}

.body-description > .main-description .body-description .description {
    color: #000;
    font-size: 18px;
    line-height: 25px;
}
.main .button {
    text-align: center;
}

/* Brand Logo's  */

body .main .body-description {
    background-color: #fff;
}
.brands {
    background-color: #fff;
}

body .brands {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.brands img {
    margin-bottom: 25px;
}
